In [1]:

#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/HIDCL.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2016-08-24,325.0,339.0,325.0,335.0,NaN,20017.0,6628564.0
1,2016-08-28,335.0,346.0,330.0,331.0,-1.19,16833.0,5611276.0
2,2016-08-29,331.0,334.0,321.0,326.0,-1.51,25024.0,8170046.0
3,2016-08-30,326.0,338.0,326.0,331.0,1.53,28564.0,9463540.0
4,2016-08-31,331.0,333.0,320.0,325.0,-1.81,18569.0,6084662.0
...,...,...,...,...,...,...,...,...
2151,2026-01-14,252.0,258.0,252.0,255.2,-0.58,83682.0,21475252.8
2152,2026-01-18,258.0,263.0,258.0,259.2,1.57,92708.0,24086422.2
2153,2026-01-20,264.3,268.2,262.0,266.7,2.89,237371.0,63070183.4
2154,2026-01-21,266.0,270.0,263.2,264.1,-0.97,187219.0,49882216.6
2155,2026-01-22,262.0,266.0,262.0,265.3,0.45,110713.0,29226505.2

In [3]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2016-08-24,325.0,339.0,325.0,335.0,NaN,20017.0,6628564.0
1,2016-08-28,335.0,346.0,330.0,331.0,-1.19,16833.0,5611276.0
2,2016-08-29,331.0,334.0,321.0,326.0,-1.51,25024.0,8170046.0
3,2016-08-30,326.0,338.0,326.0,331.0,1.53,28564.0,9463540.0
4,2016-08-31,331.0,333.0,320.0,325.0,-1.81,18569.0,6084662.0
...,...,...,...,...,...,...,...,...
2151,2026-01-14,252.0,258.0,252.0,255.2,-0.58,83682.0,21475252.8
2152,2026-01-18,258.0,263.0,258.0,259.2,1.57,92708.0,24086422.2
2153,2026-01-20,264.3,268.2,262.0,266.7,2.89,237371.0,63070183.4
2154,2026-01-21,266.0,270.0,263.2,264.1,-0.97,187219.0,49882216.6
2155,2026-01-22,262.0,266.0,262.0,265.3,0.45,110713.0,29226505.2

In [5]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [6]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2016-08-24,325.0,339.0,325.0,335.0,NaN,20017.0,6628564.0,2016
1,2016-08-28,335.0,346.0,330.0,331.0,-1.19,16833.0,5611276.0,2016
2,2016-08-29,331.0,334.0,321.0,326.0,-1.51,25024.0,8170046.0,2016
3,2016-08-30,326.0,338.0,326.0,331.0,1.53,28564.0,9463540.0,2016
4,2016-08-31,331.0,333.0,320.0,325.0,-1.81,18569.0,6084662.0,2016
...,...,...,...,...,...,...,...,...,...
2151,2026-01-14,252.0,258.0,252.0,255.2,-0.58,83682.0,21475252.8,2026
2152,2026-01-18,258.0,263.0,258.0,259.2,1.57,92708.0,24086422.2,2026
2153,2026-01-20,264.3,268.2,262.0,266.7,2.89,237371.0,63070183.4,2026
2154,2026-01-21,266.0,270.0,263.2,264.1,-0.97,187219.0,49882216.6,2026
2155,2026-01-22,262.0,266.0,262.0,265.3,0.45,110713.0,29226505.2,2026

In [7]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year.between(2022,2025)].copy()

In [8]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
1215,2022-01-02,255.0,259.5,252.0,255.9,0.35,103935.0,26628626.3,2022
1216,2022-01-03,259.9,262.0,256.0,256.0,0.04,97521.0,25274719.9,2022
1217,2022-01-04,261.0,265.0,252.9,264.0,3.13,143713.0,37295944.3,2022
1218,2022-01-05,269.2,279.0,265.0,268.2,1.59,390859.0,106501656.8,2022
1219,2022-01-06,268.2,276.0,266.0,274.0,2.16,217480.0,59492701.3,2022
...,...,...,...,...,...,...,...,...,...
2138,2025-12-23,250.1,258.9,250.1,255.1,-0.03,78597.0,20048311.9,2025
2139,2025-12-24,258.0,258.0,253.4,254.5,-0.24,46345.0,11796645.0,2025
2140,2025-12-28,257.0,262.0,255.9,261.7,2.83,130510.0,33805330.4,2025
2141,2025-12-29,266.9,266.9,258.0,260.0,-0.65,96932.0,25238052.9,2025
2142,2025-12-31,260.0,262.9,258.1,261.9,0.73,83344.0,21752620.5,2025

In [9]:

#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,255.0,259.5,252.0,255.9,0.35,103935.0,26628626.3,2022
1,2022-01-03,259.9,262.0,256.0,256.0,0.04,97521.0,25274719.9,2022
2,2022-01-04,261.0,265.0,252.9,264.0,3.13,143713.0,37295944.3,2022
3,2022-01-05,269.2,279.0,265.0,268.2,1.59,390859.0,106501656.8,2022
4,2022-01-06,268.2,276.0,266.0,274.0,2.16,217480.0,59492701.3,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,250.1,258.9,250.1,255.1,-0.03,78597.0,20048311.9,2025
924,2025-12-24,258.0,258.0,253.4,254.5,-0.24,46345.0,11796645.0,2025
925,2025-12-28,257.0,262.0,255.9,261.7,2.83,130510.0,33805330.4,2025
926,2025-12-29,266.9,266.9,258.0,260.0,-0.65,96932.0,25238052.9,2025
927,2025-12-31,260.0,262.9,258.1,261.9,0.73,83344.0,21752620.5,2025

In [10]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [4.48, 5.89, 6.35, 3.85],
    'pe-ratio': [42.15, 30.56, 28.18, 76.08],
    'roe': [4.16, 5.35, 5.74, 3.38],
    'dividend': [5.26, 5.26, 5.25, 3.50]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year   eps  pe-ratio   roe  dividend
0  2022  4.48     42.15  4.16      5.26
1  2023  5.89     30.56  5.35      5.26
2  2024  6.35     28.18  5.74      5.25
3  2025  3.85     76.08  3.38      3.50

In [11]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,255.0,259.5,252.0,255.9,0.35,103935.0,26628626.3,2022,4.48,42.15,4.16,5.26
1,2022-01-03,259.9,262.0,256.0,256.0,0.04,97521.0,25274719.9,2022,4.48,42.15,4.16,5.26
2,2022-01-04,261.0,265.0,252.9,264.0,3.13,143713.0,37295944.3,2022,4.48,42.15,4.16,5.26
3,2022-01-05,269.2,279.0,265.0,268.2,1.59,390859.0,106501656.8,2022,4.48,42.15,4.16,5.26
4,2022-01-06,268.2,276.0,266.0,274.0,2.16,217480.0,59492701.3,2022,4.48,42.15,4.16,5.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,250.1,258.9,250.1,255.1,-0.03,78597.0,20048311.9,2025,3.85,76.08,3.38,3.50
924,2025-12-24,258.0,258.0,253.4,254.5,-0.24,46345.0,11796645.0,2025,3.85,76.08,3.38,3.50
925,2025-12-28,257.0,262.0,255.9,261.7,2.83,130510.0,33805330.4,2025,3.85,76.08,3.38,3.50
926,2025-12-29,266.9,266.9,258.0,260.0,-0.65,96932.0,25238052.9,2025,3.85,76.08,3.38,3.50
927,2025-12-31,260.0,262.9,258.1,261.9,0.73,83344.0,21752620.5,2025,3.85,76.08,3.38,3.50

In [12]:
df = df.copy()
df.to_csv('../data-companywise/HIDCL.csv', index = False)

In [14]:
#error
# git config --global core.autocrlf true