In [1]:

#importing the pandas library
import pandas as pd

In [3]:
#reading the file
df = pd.read_csv('../data-companywise/CGH.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2021-02-07,161.0,164.0,161.0,164.0,0.00,30.0,4860.0
1,2021-02-08,159.0,173.0,159.0,173.0,5.49,50.0,8294.0
2,2021-02-09,168.0,176.0,168.0,176.0,1.73,30.0,5189.0
3,2021-02-10,179.0,179.0,179.0,179.0,1.70,20.0,3552.0
4,2021-02-11,182.0,188.0,182.0,188.0,5.03,30.0,5550.0
...,...,...,...,...,...,...,...,...
1151,2026-01-14,849.0,855.0,847.0,851.0,0.20,17338.0,14732995.6
1152,2026-01-18,851.1,870.0,850.5,870.0,2.23,50874.0,43787112.8
1153,2026-01-20,887.4,895.0,872.0,881.0,1.26,25380.0,22451578.0
1154,2026-01-21,890.0,894.0,871.0,878.9,-0.24,13880.0,12202560.2
1155,2026-01-22,896.4,896.4,870.0,877.5,-0.16,24594.0,21597011.8

In [4]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [5]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2021-02-07,161.0,164.0,161.0,164.0,0.00,30.0,4860.0
1,2021-02-08,159.0,173.0,159.0,173.0,5.49,50.0,8294.0
2,2021-02-09,168.0,176.0,168.0,176.0,1.73,30.0,5189.0
3,2021-02-10,179.0,179.0,179.0,179.0,1.70,20.0,3552.0
4,2021-02-11,182.0,188.0,182.0,188.0,5.03,30.0,5550.0
...,...,...,...,...,...,...,...,...
1151,2026-01-14,849.0,855.0,847.0,851.0,0.20,17338.0,14732995.6
1152,2026-01-18,851.1,870.0,850.5,870.0,2.23,50874.0,43787112.8
1153,2026-01-20,887.4,895.0,872.0,881.0,1.26,25380.0,22451578.0
1154,2026-01-21,890.0,894.0,871.0,878.9,-0.24,13880.0,12202560.2
1155,2026-01-22,896.4,896.4,870.0,877.5,-0.16,24594.0,21597011.8

In [6]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2021-02-07,161.0,164.0,161.0,164.0,0.00,30.0,4860.0,2021
1,2021-02-08,159.0,173.0,159.0,173.0,5.49,50.0,8294.0,2021
2,2021-02-09,168.0,176.0,168.0,176.0,1.73,30.0,5189.0,2021
3,2021-02-10,179.0,179.0,179.0,179.0,1.70,20.0,3552.0,2021
4,2021-02-11,182.0,188.0,182.0,188.0,5.03,30.0,5550.0,2021
...,...,...,...,...,...,...,...,...,...
1151,2026-01-14,849.0,855.0,847.0,851.0,0.20,17338.0,14732995.6,2026
1152,2026-01-18,851.1,870.0,850.5,870.0,2.23,50874.0,43787112.8,2026
1153,2026-01-20,887.4,895.0,872.0,881.0,1.26,25380.0,22451578.0,2026
1154,2026-01-21,890.0,894.0,871.0,878.9,-0.24,13880.0,12202560.2,2026
1155,2026-01-22,896.4,896.4,870.0,877.5,-0.16,24594.0,21597011.8,2026

In [8]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year.between(2022,2025)].copy()

In [9]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
215,2022-01-02,1405.0,1434.0,1385.0,1426.0,3.41,10189.0,14500474.9,2022
216,2022-01-03,1450.0,1465.0,1425.0,1438.0,0.84,8772.0,12694971.2,2022
217,2022-01-04,1438.0,1480.0,1421.0,1479.0,2.85,6324.0,9256114.1,2022
218,2022-01-05,1480.0,1480.0,1435.0,1444.0,-2.37,7426.0,10860876.0,2022
219,2022-01-06,1449.0,1565.0,1444.0,1515.0,4.92,15467.0,23256537.0,2022
...,...,...,...,...,...,...,...,...,...
1138,2025-12-23,882.2,885.0,881.0,885.0,0.32,14445.0,12744937.2,2025
1139,2025-12-24,899.0,899.0,885.0,886.0,0.11,11897.0,10579980.1,2025
1140,2025-12-28,860.0,864.9,854.0,856.0,1.44,15343.0,13166081.3,2025
1141,2025-12-29,860.0,870.0,855.0,855.0,-0.12,22684.0,19520217.9,2025
1142,2025-12-31,865.0,870.0,863.0,865.0,1.17,13678.0,11838716.4,2025

In [10]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,1405.0,1434.0,1385.0,1426.0,3.41,10189.0,14500474.9,2022
1,2022-01-03,1450.0,1465.0,1425.0,1438.0,0.84,8772.0,12694971.2,2022
2,2022-01-04,1438.0,1480.0,1421.0,1479.0,2.85,6324.0,9256114.1,2022
3,2022-01-05,1480.0,1480.0,1435.0,1444.0,-2.37,7426.0,10860876.0,2022
4,2022-01-06,1449.0,1565.0,1444.0,1515.0,4.92,15467.0,23256537.0,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,882.2,885.0,881.0,885.0,0.32,14445.0,12744937.2,2025
924,2025-12-24,899.0,899.0,885.0,886.0,0.11,11897.0,10579980.1,2025
925,2025-12-28,860.0,864.9,854.0,856.0,1.44,15343.0,13166081.3,2025
926,2025-12-29,860.0,870.0,855.0,855.0,-0.12,22684.0,19520217.9,2025
927,2025-12-31,865.0,870.0,863.0,865.0,1.17,13678.0,11838716.4,2025

In [11]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [1.10, 7.30, 13.87, 13.09],
    'pe-ratio': [1005.45, 142.20, 106.80, 72.10],
    'roe': [1.32, 8.42, 16.28, 13.68],
    'dividend': [0.00, 0.00, 0.00, 5.26]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022   1.10   1005.45   1.32      0.00
1  2023   7.30    142.20   8.42      0.00
2  2024  13.87    106.80  16.28      0.00
3  2025  13.09     72.10  13.68      5.26

In [12]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,1405.0,1434.0,1385.0,1426.0,3.41,10189.0,14500474.9,2022,1.10,1005.45,1.32,0.00
1,2022-01-03,1450.0,1465.0,1425.0,1438.0,0.84,8772.0,12694971.2,2022,1.10,1005.45,1.32,0.00
2,2022-01-04,1438.0,1480.0,1421.0,1479.0,2.85,6324.0,9256114.1,2022,1.10,1005.45,1.32,0.00
3,2022-01-05,1480.0,1480.0,1435.0,1444.0,-2.37,7426.0,10860876.0,2022,1.10,1005.45,1.32,0.00
4,2022-01-06,1449.0,1565.0,1444.0,1515.0,4.92,15467.0,23256537.0,2022,1.10,1005.45,1.32,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,882.2,885.0,881.0,885.0,0.32,14445.0,12744937.2,2025,13.09,72.10,13.68,5.26
924,2025-12-24,899.0,899.0,885.0,886.0,0.11,11897.0,10579980.1,2025,13.09,72.10,13.68,5.26
925,2025-12-28,860.0,864.9,854.0,856.0,1.44,15343.0,13166081.3,2025,13.09,72.10,13.68,5.26
926,2025-12-29,860.0,870.0,855.0,855.0,-0.12,22684.0,19520217.9,2025,13.09,72.10,13.68,5.26
927,2025-12-31,865.0,870.0,863.0,865.0,1.17,13678.0,11838716.4,2025,13.09,72.10,13.68,5.26

In [13]:
df = df.copy()
df.to_csv('../data-companywise/CGH.csv', index = False)

In [14]:
#error
# git config --global core.autocrlf true