In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/NICA.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2013-07-29,700.0,714.0,700.0,713.0,NaN,12604.0,8939723.0
1,2013-07-30,713.0,739.0,710.0,733.0,2.81,11888.0,8590758.0
2,2013-07-31,733.0,743.0,720.0,732.0,-0.14,16045.0,11787525.0
3,2013-08-01,732.0,746.0,722.0,726.0,-0.82,16832.0,12302375.0
4,2013-08-04,726.0,730.0,710.0,710.0,-2.20,13593.0,9764636.0
...,...,...,...,...,...,...,...,...
2851,2026-01-14,331.3,342.0,331.3,334.2,-1.12,87141.0,29278769.1
2852,2026-01-18,339.7,347.0,335.0,339.0,1.44,163190.0,55502172.6
2853,2026-01-20,332.5,350.0,332.5,346.0,2.06,141100.0,48859694.4
2854,2026-01-21,348.0,348.0,340.0,342.0,-1.16,91181.0,31278407.9
2855,2026-01-22,347.9,347.9,337.0,341.9,-0.03,71540.0,24282898.9

In [3]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2013-07-29,700.0,714.0,700.0,713.0,NaN,12604.0,8939723.0
1,2013-07-30,713.0,739.0,710.0,733.0,2.81,11888.0,8590758.0
2,2013-07-31,733.0,743.0,720.0,732.0,-0.14,16045.0,11787525.0
3,2013-08-01,732.0,746.0,722.0,726.0,-0.82,16832.0,12302375.0
4,2013-08-04,726.0,730.0,710.0,710.0,-2.20,13593.0,9764636.0
...,...,...,...,...,...,...,...,...
2851,2026-01-14,331.3,342.0,331.3,334.2,-1.12,87141.0,29278769.1
2852,2026-01-18,339.7,347.0,335.0,339.0,1.44,163190.0,55502172.6
2853,2026-01-20,332.5,350.0,332.5,346.0,2.06,141100.0,48859694.4
2854,2026-01-21,348.0,348.0,340.0,342.0,-1.16,91181.0,31278407.9
2855,2026-01-22,347.9,347.9,337.0,341.9,-0.03,71540.0,24282898.9

In [5]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [6]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2013-07-29,700.0,714.0,700.0,713.0,NaN,12604.0,8939723.0,2013
1,2013-07-30,713.0,739.0,710.0,733.0,2.81,11888.0,8590758.0,2013
2,2013-07-31,733.0,743.0,720.0,732.0,-0.14,16045.0,11787525.0,2013
3,2013-08-01,732.0,746.0,722.0,726.0,-0.82,16832.0,12302375.0,2013
4,2013-08-04,726.0,730.0,710.0,710.0,-2.20,13593.0,9764636.0,2013
...,...,...,...,...,...,...,...,...,...
2851,2026-01-14,331.3,342.0,331.3,334.2,-1.12,87141.0,29278769.1,2026
2852,2026-01-18,339.7,347.0,335.0,339.0,1.44,163190.0,55502172.6,2026
2853,2026-01-20,332.5,350.0,332.5,346.0,2.06,141100.0,48859694.4,2026
2854,2026-01-21,348.0,348.0,340.0,342.0,-1.16,91181.0,31278407.9,2026
2855,2026-01-22,347.9,347.9,337.0,341.9,-0.03,71540.0,24282898.9,2026

In [7]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year.between(2022,2025)].copy()

In [8]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
1915,2022-01-02,754.8,773.0,730.0,769.0,3.92,73533.0,55902252.3,2022
1916,2022-01-03,769.0,788.4,765.0,784.0,1.95,78276.0,61074703.9,2022
1917,2022-01-04,790.0,813.7,772.0,807.8,3.04,79587.0,63193949.7,2022
1918,2022-01-05,819.9,819.9,792.0,795.0,-1.58,78208.0,62536250.3,2022
1919,2022-01-06,782.0,839.0,782.0,838.0,5.41,178781.0,145219148.4,2022
...,...,...,...,...,...,...,...,...,...
2838,2025-12-23,312.8,319.0,312.8,318.0,0.82,33536.0,10608584.0,2025
2839,2025-12-24,319.0,322.9,316.5,321.0,0.94,35797.0,11445368.3,2025
2840,2025-12-28,324.0,336.0,320.6,335.0,4.36,131308.0,43128391.2,2025
2841,2025-12-29,335.0,335.0,324.0,325.0,-2.99,56073.0,18382999.4,2025
2842,2025-12-31,327.0,332.0,324.6,327.0,0.62,45656.0,14965752.8,2025

In [9]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,754.8,773.0,730.0,769.0,3.92,73533.0,55902252.3,2022
1,2022-01-03,769.0,788.4,765.0,784.0,1.95,78276.0,61074703.9,2022
2,2022-01-04,790.0,813.7,772.0,807.8,3.04,79587.0,63193949.7,2022
3,2022-01-05,819.9,819.9,792.0,795.0,-1.58,78208.0,62536250.3,2022
4,2022-01-06,782.0,839.0,782.0,838.0,5.41,178781.0,145219148.4,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,312.8,319.0,312.8,318.0,0.82,33536.0,10608584.0,2025
924,2025-12-24,319.0,322.9,316.5,321.0,0.94,35797.0,11445368.3,2025
925,2025-12-28,324.0,336.0,320.6,335.0,4.36,131308.0,43128391.2,2025
926,2025-12-29,335.0,335.0,324.0,325.0,-2.99,56073.0,18382999.4,2025
927,2025-12-31,327.0,332.0,324.6,327.0,0.62,45656.0,14965752.8,2025

In [10]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [39.13, 39.65, 9.26, 1.08],
    'pe-ratio': [18.10, 19.80, 48.80, 321.90],
    'roe': [19.54, 17.58, 4.57, 0.54],
    'dividend': [0.00, 30.53, 0.00, 0.00]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  39.13      18.1  19.54      0.00
1  2023  39.65      19.8  17.58     30.53
2  2024   9.26      48.8   4.57      0.00
3  2025   1.08     321.9   0.54      0.00

In [11]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,754.8,773.0,730.0,769.0,3.92,73533.0,55902252.3,2022,39.13,18.1,19.54,0.0
1,2022-01-03,769.0,788.4,765.0,784.0,1.95,78276.0,61074703.9,2022,39.13,18.1,19.54,0.0
2,2022-01-04,790.0,813.7,772.0,807.8,3.04,79587.0,63193949.7,2022,39.13,18.1,19.54,0.0
3,2022-01-05,819.9,819.9,792.0,795.0,-1.58,78208.0,62536250.3,2022,39.13,18.1,19.54,0.0
4,2022-01-06,782.0,839.0,782.0,838.0,5.41,178781.0,145219148.4,2022,39.13,18.1,19.54,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,312.8,319.0,312.8,318.0,0.82,33536.0,10608584.0,2025,1.08,321.9,0.54,0.0
924,2025-12-24,319.0,322.9,316.5,321.0,0.94,35797.0,11445368.3,2025,1.08,321.9,0.54,0.0
925,2025-12-28,324.0,336.0,320.6,335.0,4.36,131308.0,43128391.2,2025,1.08,321.9,0.54,0.0
926,2025-12-29,335.0,335.0,324.0,325.0,-2.99,56073.0,18382999.4,2025,1.08,321.9,0.54,0.0
927,2025-12-31,327.0,332.0,324.6,327.0,0.62,45656.0,14965752.8,2025,1.08,321.9,0.54,0.0

In [12]:
df = df.copy()
df.to_csv('../data-companywise/NICA.csv', index = False)